* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}
/**Header**/
/**Head Section**/
.head-section {
    height: 30px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
}
.head-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    
}

.head-links {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-weight: 500;
}

/**Hero Section**/
.hero-section {
    height: 400px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
}
.hero-text h1 {
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
}
.hero-text p {
    color: #E5E7EB;
    font-size: 1.2rem;
}
.hero-text {
    width: 30rem;
}
button { 
    color: white;
    background-color: #3882f6;
    width: 125px;
    height: 40px;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 1rem;
}
.hero-img img{
    width: 200px;
    height: 200px;
}
/**Information Section**/
.info {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-head h3 {
    color: #1F2937;
    font-size: 2rem;
    font-weight: 750;
    position: relative;
    bottom: 1rem;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.box1 {
    height: 100px;
    width: 100px;
    border: 4px solid #3882f6;
    border-radius: 10px; 
    animation: rollOut 2s ease-in-out forwards 1s;
}
.box2 {
    height: 100px;
    width: 100px;
    border: 4px solid #3882f6;
    border-radius: 10px; 
    animation: rollOut 2s ease-in-out forwards 1.25s;
}
.box3 {
    height: 100px;
    width: 100px;
    border: 4px solid #3882f6;
    border-radius: 10px; 
    animation: rollOut 2s ease-in-out forwards 1.5s;
}
.box4 {
    height: 100px;
    width: 100px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    animation: rollOut 2s ease-in-out forwards 1.75s;
}
.text1 {
    height: 100px;
    width: 100px;
    font-size: 1rem;
    text-align: center;
}
.text2 {
    height: 100px;
    width: 100px;
    font-size: 1rem;
    text-align: center;
}
.text3 {
    height: 100px;
    width: 100px;
    font-size: 1rem;
    text-align: center;
}
.text4 {
    height: 100px;
    width: 100px;
    font-size: 1rem;
    text-align: center;
}
/**Quote Section**/
.quote-section {
    height: 300px;
    background-color: #E5E7EB;
}
.quote-area {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote {
    height: 150px;
    width: 600px;
    font-style: italic;
    font-size: 1.5rem;
    color: #1F2937;
    position: relative;
    top:20%;
}
.author {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    left: 10%;
}
/**Call to action**/
.call-to-action-background {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to-action {
    height: 120px;
    width: 50%;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}
.call {
    height: 100px;
    color: white;
    position: relative;
    top: 20%;
}
.first {
    font-size: 1.3rem;
    font-weight: 700;
}
.second-button { 
    color: white;
    background-color: #3882f6;
    height: 40px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid white;
}
/**Footer**/
footer {
    height: 50px;
    color: #E5E7EB;
    background-color: #1F2937;
    font-weight: 500;
    text-align: center;
    padding-top: 25px;
}

/**extra decorations**/
.border:hover {
    border: 2px solid white;
}
.change-color:hover {
    background-color: blueviolet;
}

@keyframes rollOut {
    0% {
      transform: rotate(0deg) ;
    }
    50% {
      transform: rotate(180deg) ;
    }
    100% {
      transform: rotate(360deg) ;
    }
  }
@keyframes rollOut2 {
    0% {
        transform: rotate(360deg) translateX(400px);
    }
    50% {
      transform: rotate(180deg) translateX(200px);
    }
    100% {
        transform: rotate(0deg) translateX(0);  
    }
  }